useDynLib(BUScorrect, .registration=TRUE)
export(adjusted_values)
export(baseline_expression_values)
export(BIC_BUS)
export(BUSgibbs)
export(calculate_EPSR_gamma)
export(calculate_EPSR_mu)
export(calculate_EPSR_sigma_sq)
export(estimate_IG_indicators)
export(scale_batch_effects)
export(location_batch_effects)
export(postprob_DE)
export(postprob_DE_thr_fun)
export(subtype_effects)
export(Subtypes)
export(IG_index)
export(visualize_data)
S3method(print, BUSfits)
S3method(summary, BUSfits)
import(gplots)
